@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;

@font-face {
    font-family: 'Gistesy';
    src: url('./assets/font/Gistesy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
=======
@tailwind utilities;
>>>>>>> 5bcf936 (add Home page and  hamburgerMenu component)
