@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gistesy';
    src: url('./assets/font/Gistesy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}