@tailwind base;
@tailwind components;
@tailwind utilities;

.canapes_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.canape-item {
    width: 100%;
    /* Par défaut, occupe toute la largeur sur les petits écrans */
}

@media (min-width: 768px) {
    .canape_item {
        width: 45%;
        /* Deux colonnes sur les écrans moyens et grands */
    }
}

@media (min-width: 1024px) {
    .canape_item {
        width: 30%;
        /* Trois colonnes sur les grands écrans */
    }
}